

[tools_calibrate]
pin: PC5
travel_speed: 150   # mm/s to travel sideways for XY probing
spread: 3.5        # mm to travel down from top for XY probing
lower_z: 0.2       # 'lower_z' is the distance below the probe tip in Z, used to ensure a hit.
#   Increase this to have more of the nozzle hit during probing.
#   Values as low as 0.1mm may work, and will minimize the need for overtravel.

speed: 5         # mm/s The speed (in mm/sec) to retract between probes
lift_speed: 5      # mm/s Z Lift after probing done, should be greater than any Z variance between tools
final_lift_z: 4
sample_retract_dist: 1 
samples_tolerance: 0.05 
samples: 3
samples_result: median # median, average
# Settings for nozzle probe calibration - optional.
probe: probe # name of the nozzle probe to use; comment out if using Nudge as Z probe
trigger_to_bottom_z:  9.5  # Was 9.5 # Offset from probe trigger to vertical motion bottoms out.
# decrease if the nozzle is too high, increase if too low.

# only mouve over probe, fix location
[gcode_macro GO_TO_PROBE_START_LOCATION]
gcode:
  G0 X135 Y1 F30000   # update is need for position t1
   
  
[gcode_macro PROBE_NOW]
gcode:
  G28
  GO_TO_PROBE_START_LOCATION
  TOOL_LOCATE_SENSOR

[gcode_macro CALIBRATE_MOVE_OVER_PROBE]
gcode:
    BED_MESH_CLEAR
    G0 Z5 F10000               
    GO_TO_PROBE_START_LOCATION    
 
    
[gcode_macro CALIBRATE_TOOL_OFFSETS]
gcode:
    T0
    T1
    T0
    CALIBRATE_MOVE_OVER_PROBE
    M104 S150 T0                       # Heat up as much as possible without oozing to account for any thermal deformations
    M104 S150 T1                       # Heat up as much as possible without oozing to account for any thermal deformations
    M109 S150 T0                       # Heat up as much as possible without oozing to account for any thermal deformations
    M109 S150 T1                       # Heat up as much as possible without oozing to account for any thermal deformations
    #_NOZZLE_SCRUB                    # Should Clean the Nozzel before do probe, need to have hot probe
    TOOL_LOCATE_SENSOR
    M104 S0                          # stop heating tool
    # Other tools
    {% for tool in [1] %}
        T{tool}
        CALIBRATE_MOVE_OVER_PROBE
        M109 S150                     # heat to 150 deg
        #_NOZZLE_SCRUB                 # Should Clean the Nozzel before do probe, need to have hot probe
        TOOL_CALIBRATE_TOOL_OFFSET
        M104 S0                       # stop heating tool
    {% endfor %}
    #GET_LAST_OFFSET

[gcode_macro CALIBRATE_NOZZLE_PROBE_OFFSET]
gcode:    
    CALIBRATE_MOVE_OVER_PROBE
    M109 S150    
    TOOL_LOCATE_SENSOR
    TOOL_CALIBRATE_PROBE_OFFSET
    M104 S0

    CALIBRATE_MOVE_OVER_PROBE
    TOOL_LOCATE_SENSOR

# do it in coold condition
[gcode_macro NUDGE_FIND_TOOL_OFFSETS]
gcode:
    T0
    #M104 T0 S170  # Heat up as much as possible without oozing to account for any thermal deformations
    CALIBRATE_MOVE_OVER_PROBE
    TOOL_LOCATE_SENSOR
    #M104 T0 S0
    # Match your number of tools:
    #   [1, 2, 3] for a 4-head toolchanger.
    #   [1] for IDEX or Dual Gantry.
    {% for tool in [1] %}
        #G1 Y230
        T{tool}
        #M109 T{tool} S170
        CALIBRATE_MOVE_OVER_PROBE
        TOOL_CALIBRATE_TOOL_OFFSET
        #G1 Y230
        # M104 T{tool} S0
        GET_LAST_OFFSET
        T0
    {% endfor %}
    
# [gcode_macro GET_LAST_OFFSET]
# gcode:
#     {% set dcvars = printer["gcode_macro DC_VARS"] %}
#     {% set new_offset_x = printer.tools_calibrate.last_x_result|float|round(6) %}
#     {% set new_offset_y = printer.tools_calibrate.last_y_result|float|round(6) %}
#     {% set new_offset_z = printer.tools_calibrate.last_z_result|float|round(6) %}

#     RESPOND MSG="Fetched: X={new_offset_x}, Y={new_offset_y}, Z={new_offset_z}"

#     SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=offset_x VALUE={new_offset_x}
#     SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=offset_y VALUE={new_offset_y}
#     SET_GCODE_VARIABLE MACRO=DC_VARS VARIABLE=offset_z VALUE={new_offset_z}

#     SAVE_OFFSETS_TO_DISK
    

[duplicate_pin_override]
pins: PC5
# following add pseudo filament sensor to controll nudge sensor
[filament_switch_sensor Nudge_Sensor]
switch_pin: PC5
pause_on_runout: FALSE
runout_gcode:
    # M118 Nudge Touched!
insert_gcode:
    # M118 Nudge Not Pressed!
