
[gcode_macro HOME_Z_CENTER]
description: Home Z in der Bettmitte
gcode:
    # Zuerst nur X und Y homen
    #G28 X Y
    # Mittelpunkte berechnen und anfahren
    G90
    G1 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} F32000
    # Jetzt Z homen
    G28 Z

[gcode_macro ADXL_X]
gcode:
  SHAPER_CALIBRATE AXIS=X

[gcode_macro ADXL_Y]
gcode:
  SHAPER_CALIBRATE AXIS=Y

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    {% if printer.z_tilt.applied == False %}
        _Z_TILT_ADJUST RETRY_TOLERANCE=1.0 HORIZONTAL_MOVE_Z=15
    {% endif %}
    _FINE_Z_TILT_ADJUST
    G1 Z5 F32000
    M400
    G28 Z
	
[gcode_macro _FINE_Z_TILT_ADJUST]
gcode:
    {% if printer.z_tilt.applied == True %}
        _Z_TILT_ADJUST RETRY_TOLERANCE=0.0035 HORIZONTAL_MOVE_Z=2 RETRIES=6 
    {% else %}
        {action_respond_info("Fine Z_TILT called without calling course Z_TILT first!")}
        _Z_TILT_ADJUST
    {% endif %}

[gcode_macro UNSAFE_LOWER_BED50]
description: Lower the bed 50mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z+50 F3000
  M84

[gcode_macro UNSAFE_LOWER_BED25]
description: Lower the bed 25mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z+25 F3000
  M84

[gcode_macro UNSAFE_LOWER_BED100]
description: Lower the bed 100mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=0
  G0 Z+100 F3000
  M84

[gcode_macro UNSAFE_HIGHER_BED25]
description: Hogher the bed 25mm without homing
gcode:
  G90
  SET_KINEMATIC_POSITION Z=100
  _CLIENT_LINEAR_MOVE Z=-25 F=3000
  M84

# [gcode_macro M109] # Wait Hotend Temp
# rename_existing: M109.1
# gcode:
#     #Parameters
#     {% set s = params.S|float %}

#     M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  # Set hotend temp
#     {% if s != 0 %}
#         TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-5} MAXIMUM={s+5}   # Wait for hotend temp (within n degrees)
#     {% endif %}

[gcode_macro Power]
gcode:
  SET_TMC_CURRENT STEPPER=x CURRENT=3
  SET_TMC_CURRENT STEPPER=x1 CURRENT=3
  SET_TMC_CURRENT STEPPER=u CURRENT=3
  SET_TMC_CURRENT STEPPER=u1 CURRENT=3
  SET_TMC_CURRENT STEPPER=y CURRENT=3
  SET_TMC_CURRENT STEPPER=y1 CURRENT=3

[gcode_macro PID_BED100]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=100

[gcode_macro PID_BED60]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60

[gcode_macro PID_EXTRUDER220]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=220

[gcode_macro PID_EXTRUDER240]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=240

[gcode_macro PID_EXTRUDER280]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=280

[gcode_macro PID_EXTRUDER260]
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=260