
[gcode_shell_command set_bett_led_from_filament]
command: /usr/bin/python3 /home/nico/set_bett_led_from_filament.py
timeout: 3
verbose: True

[neopixel Bett_LED_L]
pin: PE10
chain_count: 10
color_order: GRB

[neopixel Bett_LED_R]
pin:  PE9
chain_count: 10
color_order: GRB

[neopixel chamberlight]
pin:  MMB_Cubic:gpio9
chain_count: 18
color_order: GRB
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 0
initial_WHITE: 0

[led_effect filament_gradient_R]
leds:
   neopixel:Bett_LED_R
recalculate: true
layers:
   gradient 0.3 1.00 add ({params.R|default(0.0)|float},{params.G|default(0.0)|float},{params.B|default(0.0)|float}),(0.0,0.0,0.0),(0.0,0.0,0.0)
autostart: false

[led_effect filament_gradient_L]
leds:
   neopixel:Bett_LED_L
recalculate: true
layers:
   gradient 0.3 1.00 add ({params.R|default(0.0)|float},{params.G|default(0.0)|float},{params.B|default(0.0)|float}),(0.0,0.0,0.0),(0.0,0.0,0.0)
autostart: false


[led_effect LED_Nightrider]
autostart:              false
frame_rate:             60
leds:
    neopixel:chamberlight
layers:
      cylon 1.25 1.0 add (0.0,0.0,1.0)
      static 0 0 top (0.3,0.3,0.3) 

[led_effect homing]
autostart:              false
frame_rate:             60
leds:
    neopixel:chamberlight
layers: static  3 1 add (0.1, 0.1, 0.1)
        homing  2 0 top (0.5, 0.5, 0.5)
endstops: stepper_x,stepper_y,stepper_z,probe,dual_carriage

[led_effect LED_White]
autostart:              false
frame_rate:             24
leds:
    neopixel:chamberlight
layers:
        static  3 1 top (0.3, 0.3, 0.3)

[led_effect Rainbow]
autostart:              true
frame_rate:             60
leds:
    neopixel:chamberlight
    neopixel:Bett_LED_R
    neopixel:Bett_LED_L
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect Rainbow_BED]
autostart:              true
frame_rate:             60
leds:
    neopixel:Bett_LED_R
    neopixel:Bett_LED_L
layers:
    gradient  0.3  1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)
##############
# The Macros #
##############

[gcode_macro LED_OFF]
gcode:
    STOP_LED_EFFECTS

[gcode_macro LED_BED_OFF]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=LED_Nightrider FADETIME=1.0

[gcode_macro LED_Nightrider]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=LED_Nightrider FADETIME=1.0

[gcode_macro LED_White]
gcode:
    SET_LED_EFFECT EFFECT=LED_White FADETIME=1.0

[gcode_macro Homing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=homing