
#[temperature_sensor MMB_Cubic]
#sensor_type: temperature_mcu
#sensor_mcu: MMB_Cubic

#[temperature_sensor Motor_Oben_Rechts]
#sensor_type: Generic 3950
#sensor_pin: MMB_Cubic:gpio27
#min_temp: 0
#max_temp: 100

#[temperature_sensor Motor_Oben_Links]
#sensor_type: Generic 3950
#sensor_pin: MMB_Cubic:gpio28
#min_temp: 0
#max_temp: 100

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: MMB_Cubic:gpio26
min_temp: 0
max_temp: 100

#[duplicate_pin_override]
#pins: MMB_Cubic: gpio8
#
#[heater_fan Wasser_Pump]
#Pin: MMB_Cubic: gpio8
#heater: extruder
#heater_temp: 50.0
#fan_speed: 1.0
#
#[heater_fan Wasser_Pump]
#Pin: MMB_Cubic: gpio8
#heater: extruder1
#heater_temp: 50.0
#fan_speed: 1.0

[temperature_fan Wasser_Pump]
pin: MMB_Cubic: gpio8
sensor_type: temperature_mcu
sensor_mcu: MMB_Cubic
max_power: 1.0
shutdown_speed: 1.0
hardware_pwm: false
kick_start_time: 0.5
#tachometer_pin: PC3
#tachometer_ppr: 2
max_temp: 350
min_temp: 10
target_temp: 40
max_speed: 1
min_speed: 1
control: pid
pid_Kp: 1
pid_Ki: 1
pid_Kd: 1

#[fan_generic fan2] #FAN2
#pin: MMB_Cubic: gpio6