[include mainsail.cfg]
#[include IDEX_mode_normal.cfg]
[include IDEX_mode_6WD.cfg]
[include macros.cfg]
[include homing_override_for_idex.cfg]
[include toolboard_1.cfg]
[include toolboard_0.cfg]
[include Fans.cfg]
[include gcode_macro.cfg]
[include N13D_Speed_Test Macros.cfg]
[include fw_retract.cfg]
[include LED.cfg]
#[include USB_C_ADXL.cfg]
[include MMB_Cubic.cfg]
[include PRINT_START_MODES.cfg]
#[include calibrate_offsets.cfg]
[include BRUSH_NOZZLE.cfg]
[include ktamv-macros.cfg]

[idle_timeout]
gcode:
 TURN_OFF_HEATERS
 M84
timeout: 3600  ;1,5 h

[input_shaper]

[exclude_object]

[force_move]
enable_force_move: true

[skew_correction]

[pause_resume]
recover_velocity: 500

[gcode_arcs]

[ktamv]
nozzle_cam_url: http://localhost/webcam2/snapshot?max_delay=0
server_url: http://localhost:8085
move_speed: 1800
send_frame_to_cloud: false
detection_tolerance: 0

#####################################################################
#   MCUs and CANbus Boards
#####################################################################

[mcu]
canbus_uuid: 06459dde1b79

[mcu EBBCan1]
canbus_uuid: 2cf78dec8fe1

[mcu EBBCan0]
canbus_uuid: c7063c0b45c1 

[mcu MMB_Cubic]
canbus_uuid: ff63c90bf269 

[mcu cartographer]
canbus_uuid: 9fabeee9d981

[delayed_gcode init_shaper]
initial_duration: 0.1
gcode:
  KTAMV_SEND_SERVER_CFG
  KTAMV_START_PREVIEW
  SET_DUAL_CARRIAGE CARRIAGE=u
  SET_INPUT_SHAPER SHAPER_TYPE=MZV SHAPER_FREQ_X=90 SHAPER_TYPE=MZV SHAPER_FREQ_Y=80
  SET_DUAL_CARRIAGE CARRIAGE=x
  SET_INPUT_SHAPER SHAPER_TYPE=MZV SHAPER_FREQ_X=90 SHAPER_TYPE=MZV SHAPER_FREQ_Y=80
  KTAMV_STOP_PREVIEW

#[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results

#########################################
#   CARRIAGES – X / Y / Z Definition
#########################################

[printer]
kinematics: generic_cartesian
max_velocity: 2500
max_accel: 15000
max_z_velocity: 25
max_z_accel: 1000
minimum_cruise_ratio: 0.5
square_corner_velocity: 15

#########################################
#   CARRIAGES – X / Y / Z Definition
#########################################

[carriage x]
endstop_pin: EBBCan0:PB6
position_endstop: -52
position_min: -52
position_max: 240
homing_speed: 150
homing_retract_dist: 10
second_homing_speed: 25

[carriage y]
endstop_pin: PC15
position_endstop: 245
position_max: 245
position_min: -5
homing_speed: 150
homing_retract_dist: 0

[dual_carriage u]
primary_carriage: x
safe_distance: 50
endstop_pin: EBBCan1:PB6
position_endstop: 4
position_min: 4
position_max: 290
homing_speed: 150
homing_retract_dist: 10
second_homing_speed: 25

[carriage z]
endstop_pin: probe:z_virtual_endstop
position_max: 200
position_min: -3
homing_speed: 15
homing_retract_dist: 0

#####################################################################
#   X/Y Steppers (Octopus Max EZ Ports)
#
#   MOTOR1: Y-only Motor A      -> [stepper y]
#   MOTOR2: Y-only Motor B      -> [stepper y1]
#   MOTOR3: T0 (left) Motor A  -> [stepper x]
#   MOTOR4: T0 (left) Motor B  -> [stepper x1]
#   MOTOR5: T1 (right) Motor A -> [stepper dual_carriage u]
#   MOTOR6: T1 (right) Motor B -> [stepper dual_carriage u1]
#
#   TMC5160T Plus (SPI) sense_resistor 0.022 for all XY/IDEX-Motors
#####################################################################

# --- T0 (links) Motor A / MOTOR3 ---
[stepper x]
carriages: x-y
step_pin: PE1
dir_pin: !PE0
enable_pin: !PE2
rotation_distance: 40
microsteps: 32

[tmc5160 stepper x]
cs_pin: PG12
spi_bus: spi4
sense_resistor: 0.022
stealthchop_threshold: 0
interpolate: false
hold_current: 2.4
run_current: 2.8
diag1_pin: ^PF4
driver_SGT: 1
driver_TBL: 0
driver_TOFF: 1
driver_IHOLDDELAY: 1
driver_TPOWERDOWN: 255
driver_HEND: 2
driver_HSTRT: 4
driver_FD3: 0
driver_TPFD: 0

[stepper x1]
carriages: x-y
step_pin: PB8
dir_pin: !PB9
enable_pin: !PB7
rotation_distance: 40
microsteps: 32

[tmc5160 stepper x1]
cs_pin: PG11
spi_bus: spi4
sense_resistor: 0.022
stealthchop_threshold: 0
interpolate: false
hold_current: 2.4
run_current: 2.8
driver_TBL: 0
driver_TOFF: 1
driver_IHOLDDELAY: 1
driver_TPOWERDOWN: 128
driver_HEND: 2
driver_HSTRT: 4
driver_FD3: 0
driver_TPFD: 0

[stepper dual_carriage u]
carriages: u+y
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB6
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200

[tmc5160 stepper dual_carriage u]
cs_pin: PG10
spi_bus: spi4
sense_resistor: 0.022
stealthchop_threshold: 0
interpolate: false
hold_current: 2.4
run_current: 2.8
driver_TBL: 0
driver_TOFF: 1
driver_IHOLDDELAY: 1
driver_TPOWERDOWN: 255
driver_HEND: 2
driver_HSTRT: 4
driver_FD3: 0
driver_TPFD: 0

[stepper dual_carriage u1]
carriages: u+y
step_pin: PG15
dir_pin: !PB3
enable_pin: !PD5
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200

[tmc5160 stepper dual_carriage u1]
cs_pin: PG9
spi_bus: spi4
sense_resistor: 0.022
stealthchop_threshold: 0
interpolate: false
hold_current: 2.4
run_current: 2.8
driver_TBL: 0
driver_TOFF: 1
driver_IHOLDDELAY: 1
driver_TPOWERDOWN: 255
driver_HEND: 2
driver_HSTRT: 4
driver_FD3: 0
driver_TPFD: 0

[stepper y]
carriages: y
step_pin: PC13
dir_pin: !PC14
enable_pin: !PE6
rotation_distance: 40
microsteps: 32

[tmc5160 stepper y]
cs_pin: PG14
spi_bus: spi4
sense_resistor: 0.022
stealthchop_threshold: 0
interpolate: false
hold_current: 2.6
run_current: 3.5
driver_TBL: 0
driver_TOFF: 1
driver_IHOLDDELAY: 1
driver_TPOWERDOWN: 255
driver_HEND: 2
driver_HSTRT: 4
driver_FD3: 0
driver_TPFD: 0

[stepper y1]
carriages: y
step_pin: PE4
dir_pin: PE5
enable_pin: !PE3
rotation_distance: 40
microsteps: 32

[tmc5160 stepper y1]
cs_pin: PG13
spi_bus: spi4
sense_resistor: 0.022
stealthchop_threshold: 0
interpolate: false
hold_current: 2.6
run_current: 3.5
driver_TBL: 0
driver_TOFF: 1
driver_IHOLDDELAY: 1
driver_TPOWERDOWN: 255
driver_HEND: 2
driver_HSTRT: 4
driver_FD3: 0
driver_TPFD: 0

[stepper z]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD4
rotation_distance: 4
microsteps: 32
carriages: z

# --- Z1 Stepper ---
[tmc2209 stepper z]
interpolate: False
stealthchop_threshold: 1
sense_resistor: 0.110
run_current: 0.6
uart_pin: PD7

[stepper z1]
step_pin: PA10
dir_pin: PA9
enable_pin: !PA15
rotation_distance: 4
microsteps: 32
carriages: z

# --- Z2 Stepper ---
[tmc2209 stepper z1]
interpolate: False
stealthchop_threshold: 1
sense_resistor: 0.110
run_current: 0.6
uart_pin: PD6

[stepper z2]
step_pin: PA8
dir_pin: !PC7
enable_pin: !PC9
rotation_distance: 4
microsteps: 32
carriages: z

[tmc2209 stepper z2]
interpolate: False
stealthchop_threshold: 1
sense_resistor: 0.110
run_current: 0.6
uart_pin: PG8

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PF5
sensor_pin: PB1 # TB
sensor_type: Generic 3950
max_power: 1.0
min_temp: 0
max_temp: 135
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[verify_heater heater_bed]
max_error: 6000
check_gain_time: 9999999
hysteresis: 50
heating_gain: 0.1

#####################################################################
#   Probe
#####################################################################

[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 35
travel_speed: 750

[cartographer touch]
samples: 5
max_samples: 10
UNSAFE_max_touch_temperature: 160

[cartographer scan]
probe_speed: 15
mesh_runs: 1
mesh_direction: x
mesh_height: 2
mesh_path: snake

[adxl345]
cs_pin: cartographer:PA0
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
   125, 125, 30
sweeping_accel: 1000
min_freq: 40
max_freq: 130
accel_per_hz: 125

[bed_mesh]
speed: 750
horizontal_move_z: 2
mesh_min: 15, 38
mesh_max: 225,220
probe_count: 25,25
algorithm: bicubic
bicubic_tension: 0.2
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation
zero_reference_position: 125, 125

[z_tilt]
z_positions:
	-88, 17
    125, 325
	338, 0
points:
    15, 15
    125, 205
    220, 15	
speed: 750
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.01

#####################################################################
#   Extra Temperature Sensors
#####################################################################

[temperature_sensor Driver_Bottom]
sensor_type: Generic 3950
sensor_pin: PC5
min_temp: 0
max_temp: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.000201, -0.000980, -0.000902, -0.004434, -0.000619, -0.003695, -0.001668, -0.006241, -0.013416, -0.015891, -0.021550, -0.027225
#*# 	0.004402, 0.004349, 0.004577, 0.001981, 0.002198, 0.003506, 0.000817, -0.009521, -0.010613, -0.015153, -0.020701, -0.026944
#*# 	-0.000156, -0.003119, -0.003383, -0.007589, -0.006214, -0.003372, -0.005552, -0.006706, -0.016895, -0.016651, -0.017798, -0.024948
#*# 	0.011730, 0.007296, 0.003305, 0.003065, 0.001896, 0.000262, 0.002729, -0.012416, -0.011687, -0.013641, -0.015396, -0.023455
#*# 	0.005461, 0.005565, 0.000142, -0.003805, -0.005265, -0.001108, -0.004673, -0.008152, -0.015455, -0.014094, -0.014102, -0.020259
#*# 	0.016510, 0.010215, 0.006402, -0.000141, -0.003255, -0.003383, -0.005078, -0.013277, -0.011587, -0.014392, -0.015637, -0.023926
#*# 	0.006582, 0.005407, 0.001324, -0.006456, -0.006397, -0.007864, -0.014138, -0.014021, -0.017014, -0.014131, -0.015300, -0.022042
#*# 	0.012906, 0.008513, 0.002079, -0.002008, -0.005617, -0.007200, -0.008956, -0.018135, -0.015368, -0.014727, -0.017929, -0.029604
#*# 	0.006736, 0.006048, -0.002818, -0.006143, -0.008462, -0.009917, -0.012737, -0.011497, -0.016599, -0.013978, -0.011260, -0.022475
#*# 	0.010273, 0.005278, 0.006279, -0.000669, -0.005420, -0.005728, -0.004512, -0.011093, -0.016173, -0.014472, -0.017393, -0.028032
#*# 	0.010698, 0.007270, 0.003182, 0.001292, -0.000298, -0.001765, -0.000913, -0.003486, -0.006940, -0.010756, -0.008733, -0.015850
#*# 	0.026883, 0.023080, 0.017883, 0.013899, 0.012016, 0.012838, 0.014666, 0.002769, 0.003710, 0.000400, -0.004528, -0.013855
#*# 	0.027288, 0.028515, 0.029857, 0.020586, 0.020459, 0.020089, 0.016189, 0.017667, 0.011507, 0.008246, 0.007323, 0.000279
#*# 	0.047697, 0.042621, 0.039124, 0.037015, 0.031878, 0.034927, 0.034012, 0.026807, 0.022391, 0.022326, 0.016146, 0.011679
#*# 	0.046115, 0.046813, 0.042259, 0.037553, 0.037871, 0.034698, 0.029256, 0.031713, 0.026192, 0.023461, 0.024930, 0.017237
#*# 	0.056723, 0.050124, 0.050353, 0.049496, 0.045752, 0.044266, 0.042781, 0.038211, 0.032317, 0.028886, 0.025480, 0.019297
#*# 	0.050842, 0.052674, 0.049101, 0.046291, 0.050156, 0.049471, 0.041556, 0.038834, 0.034947, 0.028377, 0.031254, 0.025708
#*# 	0.055626, 0.057859, 0.050477, 0.050188, 0.052083, 0.048771, 0.045786, 0.033307, 0.031921, 0.028694, 0.028335, 0.017612
#*# x_count = 12
#*# y_count = 18
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 142.77
#*# max_x = 209.6
#*# min_y = 131.338
#*# max_y = 216.272
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 39.018
#*# pid_ki = 13.689
#*# pid_kd = 27.802
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 47.187
#*# pid_ki = 9.252
#*# pid_kd = 60.168
#*#
#*# [cartographer]
#*# z_backlash = 0.00406
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.013659, -0.017526, 0.000599, 0.014808, 0.015779
#*# compensation_start_x = 15.0
#*# compensation_end_x = 225.0
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.5929816290322711,2.0864877451197272,0.8499508731341918,0.36349749685362187,0.3121588993760781,0.35257074133625743,-0.1218704310158756,-0.2781661926640417,0.16919144232117686,0.1805155414949816
#*# domain = 3.342290812162941e-07,3.426256345201179e-07
#*# z_offset = 0
#*# reference_temperature = 47.09
#*# software_version = 1.3.3
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 800
#*# speed = 3
#*# z_offset = -0.1
#*# software_version = 1.3.3
#*# mcu_version = CARTOGRAPHER V4 6.0.0
#*#
