########################################
# Extruder 0 (T0) - Left
########################################
[extruder]
step_pin: EBBCan0: PD0
dir_pin: !EBBCan0: PD1
enable_pin: !EBBCan0: PD2
microsteps: 32
rotation_distance: 22
gear_ratio: 50:8
nozzle_diameter: 0.500
filament_diameter: 1.750
heater_pin: EBBCan0: PB13
sensor_type: PT1000
sensor_pin: EBBCan0: PA3
#control: pid
#pid_Kp: 20.552
#pid_Ki: 0.778
#pid_Kd: 135.653
min_temp: 0
max_temp: 400
min_extrude_temp: 10
max_power: 1.0
smooth_time: 1.0
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03
max_extrude_only_distance: 250
max_extrude_cross_section: 250
max_extrude_only_velocity: 100

[verify_heater extruder]
max_error: 6000
check_gain_time: 9999999
hysteresis: 50
heating_gain: 0.01

[tmc2209 extruder]
uart_pin: EBBCan0: PA15
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Fan Control
#####################################################################
[fan_generic partfan_t0]
###  Print Cooling Fan
pin: MMB_Cubic: gpio6 #EBBCan0: PA0
shutdown_speed: 0 
cycle_time: 0.005 
kick_start_time: 0.150
